
body {
  padding-top: 50px;
}
.carousel{
  display: block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}

.nuestra-propuesta{
  font-size:18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;  
  border-radius: 6px;
  padding: 60px;
}
.thumbnails img{
  width:100%;
}
.gridStyles{
  width: 940px;
  height: 200px;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell{
  background-color: AliceBlue;
}

.ui-grid-row:nth-child(even) .ui-grid-cell{
  background-color: YellowGreen;
}
.modal-body input{
  display: block;
}
.ng-valid{
  border: thin solid #090;
}
.ng-invalid{
  border: thin solid #990000;
}